<%= link_to "Edit", edit_blog_post_path %>
<%= button_to "Delete", { :controller => :blog_posts, :action => 'destroy', :id => @post.id }, :method => :delete %>
<h1><%= @post.title  %></h1>
<%= @post.body %>